.newsletter-box-container {
    width: 100%;
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .newsletter-box-text {
    font-size: 2rem; /* text-3xl */
    font-weight: 600;
    color: #1f2937; /* gray-800 */
  }
  
  .newsletter-subtext {
    color: #9ca3af; /* gray-400 */
    font-size: 0.95rem;
    max-width: 600px;
    margin: 12px auto 24px auto;
  }
  
  .newsletter-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    padding-left: 12px;
    border: 1px solid #d1d5db; /* Tailwind's gray-300 */
    align-items: center;
    gap: 12px;
  }
  
  .newsletter-input {
    flex: 1;
    padding: 12px 8px;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  
  .newsletter-button {
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
  }
  
  

